body {
  background: url(assets/back.jpg);
  color: white;
  text-align: justify;
}

#bloc_page {
  width: 90%;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-around;
  background-color: mediumpurple;
  padding-top: 10px;
  padding-bottom: 3px;
  border-bottom: 5px beige solid;
}

nav{
  margin-bottom: 20px;
  background-color: beige;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style-type: none;
  font-weight: bold;
  margin: 15px;
}

a {
  text-decoration: none;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px grey;
}

a:hover {
  text-decoration: underline;
  color: brown;
}

#topsection {
  display: flex;
  flex-direction: column;
}

#welcome {
  height: 427px;
  background: url(assets/kingdom.jpg);
  background-attachment: fixed;
  background-repeat: repeat-x;
  background-size: cover;
  text-align: center;
}

#welcome h1 {
  font-size: 80px;
  color: white;
  text-shadow: 3px 3px grey;
  text-align: center;
  padding: 90px;
}

#kingdom h1 {
  font-size: 40px;
  text-shadow: 3px 3px grey;
}
