/* Body */

body {
  background: url(assets/back.jpg);
  color: white;
  text-align: justify;
}

#bloc_page {
  width: 90%;
  margin: auto;
}

section h1 {
  font-size: 40px;
  text-shadow: 3px 3px grey;
}


/* header of all pages */

header {
  display: flex;
  justify-content: space-around;
  background-color: mediumpurple;
  padding-top: 10px;
  padding-bottom: 3px;
  border-bottom: 5px beige solid;
}

nav{
  margin-bottom: 20px;
  background-color: beige;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style-type: none;
  font-weight: bold;
  margin: 15px;
}

a {
  text-decoration: none;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px grey;
}

a:hover {
  text-decoration: underline;
  color: brown;
}


/* Index page */

#topsection {
  display: flex;
  flex-direction: column;
}

#welcome {
  height: 427px;
  background: url(assets/kingdom.jpg);
  background-attachment: fixed;
  background-repeat: repeat-x;
  background-size: cover;
  text-align: center;
}

#welcome h1 {
  font-size: 80px;
  color: white;
  text-shadow: 3px 3px grey;
  text-align: center;
  padding: 90px;
}


/* Royal family page  */

#RoyalFamily .king {
  display: flex;
  justify-content: space-between;
  background-color: beige;
  opacity: 0.7;
  height: 420px;
  padding: 50px;
  color: black;
  text-align: center;
}

#RoyalFamily h2 {
  font-size: 25px;
}

#RoyalFamily p {
  font-style: italic;
}


/* Assets page  */

#assets {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 700px;
  margin: auto;
  background-color: rgb(37, 177, 182);
}

th, td {
  border: 2px solid white;
  color: black;
}

th {
   text-transform: uppercase;
   text-align: center;
}

