@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* Body */

body {
  background: url(assets/back.jpg);
  color: white;
  text-align: justify;
  margin: 0;
}

section h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  margin: 0 0 30px 0;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.34);
}

p, th, td, legend {
  font-family: 'Playfair Display', serif;
}

#kingdom p {
  margin-bottom: 40px;
}

footer {
  background-color: #7456b1;
}

footer .img {
  background: url(assets/foot.png);
  height: 51px;
  width: 100%;
  background-size: 330px;
  background-position: center;
}

footer img {
  height: 300px;
}

footer p {
  font-size: 10px;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.wrapper {
  width: 960px;
  margin: 50px auto;
  background-color: #d3b38d;
}

.wrapper .wrapper-content {
  padding: 25px 30px;
}


/* header of all pages */

header {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background-color: #9370d8;
  border-bottom: 5px beige solid;
}

#logo {
 height: 60px;
}

#logo img {
  height: 100%;
}

nav ul {
  display: flex;
  padding: 0;
  margin: 0;
}

nav ul li {
  list-style-type: none;
  font-weight: bold;
  margin: 0;
}

nav ul li a {
  display: flex;
  height: 75px;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  font-size: 24px;
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.16);
  padding: 0 18px;
}

nav ul li a.current, nav ul li a:hover {
  text-decoration: none; 
  background-color: #7456b1;
}

/* Index page */

#welcome {
  height: 427px;
  background: url(assets/kingdom.jpg);
  background-attachment: fixed;
  background-repeat: repeat-x;
  background-size: cover;
  text-align: center;
}

#welcome h1 {
  height: 100%;
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  font-size: 80px;
  color: white;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.34);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
}

#kingdom h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  font-size: 40px;
  color: white;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.34);
  padding: 0 10px;
  margin: 0px;
}


/* Royal family page  */

#RoyalFamily .king {
  display: flex;
  justify-content: space-between;
  background-color: beige;
  opacity: 0.7;
  height: 300px;
  padding: 50px;
  color: black;
  text-align: center;
}
#RoyalFamily .king div {
  flex: 1;
}

.king img {
 height: 200px;
 width: auto;
}

#RoyalFamily h2 {
  font-size: 25px;
}

#RoyalFamily p {
  font-style: italic;
}


/* Assets page */

#assets {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 700px;
  margin: auto;
  background-color: rgb(37, 177, 182);
}

th, td {
  border: 2px solid white;
  color: black;
}

th {
   text-transform: uppercase;
   text-align: center;
}

thead th {
  height: 50px;
}

/* Contact page */

form {
  margin: 25px;
  color: black;
}

fieldset {
  background-color: beige;
  border: 2px #7456b1 double;
}
#name, #Email {
  width: 500px;
}

textarea {
  width: 500px;
  height: 250px;
}

legend {
  font-size: 30px;
  color: #7456b1;
  text-shadow: 3px 3px rgba(67, 7, 165, 0.34);
  font-weight: bold;
}

p label {
  margin: 0 0 25px 0;
}

